.menu {
  display:flex;
  display-content:right;
  /*float: right;*/
}
header ul{
    list-style-type: none;
    display: flex;
    justify-content: end;

}

header ul li{
padding: 0 10px;
}

header ul li a{
    text-decoration: none;
    padding-top: 59px;
    color:black;
}

 header img {
width: 105.55px;
height: 55px;
margin-bottom: -94px;

}
header{
margin-bottom:46px;
}

/* vision */


#block-views-block-vision-block-1 {

    /*background-color:red; */
    display: flex;
    display-direction: column;
    justify-content: center;
    margin-top:30px;
    margin-bottom:140px;
}

.lienvis a {
  display:flex;
  justify-content: center;
  text-align: center;
  background:#FF0000;
  font-weight: bold;
  color: white;
  padding: 20px 30px;
  text-decoration: none;
  width:204px;
  height:28.5px;
  margin-left: 203px;
  margin-bottom: 40px;
  border: none;
}

.imgvis{
  display: flex;
  justify-content: center;

}

.field-content p {

  text-align: center;
  margin-bottom: 10px;
}

.field-content h3{
  color:red;
  display:flex;
  justify-content: center;
}

.field-content h2{

  display:flex;
  justify-content: center;
}

/*.field-content a {
    display:flex;
    justify-content: center;
    text-align: center;
    background:#FF0000;
    font-weight: bold;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    width:204px;
    height:28.5px;
    margin-left: 285px;
}*/
.field-content p {
  display:flex;
  justify-content: center;
  text-align: center;

}
/*.field-content img {
    display: flex;
    justify-content: center;
    margin-left: 285px;
    margin-top: 70px;
} */

/* Méthodologie */

#block-views-block-vuemethodologie-block-1{
  margin-bottom:140px;
}


#block-views-block-expertise-block-1{


background-color: rgb(245, 245, 245);
display: flex;
display-direction: column;
justify-content: center;
margin-top:30px;
margin-bottom:140px;
}


.imgexpert{
  display:flex;
  display-direction: column;
  justify-content: center;
  margin-top:30px;
  margin-bottom:140px;
}




.imgmethodo{
  display:flex;
  justify-content: center;
  margin-top:30px;
  margin-bottom:30px;
}


#block-views-block-vuereference-block-1{
display: flex;
display-direction: column;
justify-content: center;
background-color: rgb(245, 245, 245);
margin-top:30px;
margin-bottom:30px;
max-width: 100%;
max-height:100%;
}

.lienref a {
  display:flex;
  justify-content: center;
  text-align: center;
  background:#FF0000;
  font-weight: bold;
  color: white;
  padding: 20px 30px;
  text-decoration: none;
  width:204px;
  height:28.5px;
  margin-left: 424px;
  margin-bottom: 89px;
  border: none;
}

.txtref {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

/*image vuereference */
.img1 {
  display: flex;
  justify-content: center;

}

.img1 img{
  padding: 20px;
  display-direction: row;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  width: 250px;
  height: 250px;
  padding: 20px;
}

.img2 {
  display: flex;

}

.img2 img{
  display-direction: row;
  justify-content: end;
  max-width: 100%;
  max-height: 100%;
  width: 250px;
  height: 250px;
  padding: 20px;
}

.img3 {
  display: flex;

}

.img3 img{
  display-direction: row;
  justify-content: end;
  max-width: 100%;
  max-height: 100%;
  width: 250px;
  height: 250px;
  padding: 20px;
}

/* Open Lab*/
#block-views-block-openlab-block-1 {

  display: flex;
  display-direction: column;
  justify-content: center;
  margin-top:30px;
  margin-bottom:140px;

}
.txtlab{
  display: flex;
  justify-content: center;
  z-index: 2;
}
.mug img{
  margin-bottom: -122px;
  margin-top: -71px;
  z-index: 3;
}
.txt2lab{
display:

}

.txt2lab h3{
  color:red;
  display:flex;
  justify-content: center;
}

.txt2lab h2{

  display:flex;
  justify-content: center;
}

.txt2lab h4{
  color:#7b7777;
  display:flex;
  justify-content: center;
}





.lienlab a {
  display:flex;
  justify-content: center;
  text-align: center;
  background:#FF0000;
  font-weight: bold;
  color: white;
  padding: 20px 30px;
  text-decoration: none;
  width:204px;
  height:28.5px;
  margin-left: 424px;
  margin-bottom: 89px;
  border: none;
}

#block-views-block-vuecontact-block-1{
  display: flex;
  display-direction: column;
  justify-content: center;
  margin-top:30px;
  margin-bottom:140px;
  background-color: rgb(245, 245, 245);

}
.bisou img{
  display: flex;
  justify-content: right;
  margin-left: 674px;
}

.liencontact a {
  display:flex;
  justify-content: center;
  text-align: center;
  background:#FF0000;
  font-weight: bold;
  color: white;
  padding: 20px 30px;
  text-decoration: none;
  width:204px;
  height:28.5px;
  margin-left: 22px;
  margin-bottom: 60px;
  margin-top: 20px;
  border: none;

}
/* class expertise image grande .imgexpert image cube .imgexp1*/
